{
    "presets": ["react-app"],
    "plugins": [
        ["module-alias", [
            { "src": "./src", "expose": "root" },
            { "src": "./src/components", "expose": "components" },
            { "src": "./src/containers", "expose": "containers" }
        ]]
    ]
}